<section class="container" [ngClass]="{ 'form-shadow': addForm.touched }">
  <header>Add Manager</header>

  <form class="form" (ngSubmit)="addManager()" #addForm="ngForm">
    <div class="input-box">
      <input
        type="text"
        placeholder="First Name"
        name="firstname"
        [(ngModel)]="firstName"
        required
        #fname="ngModel"
      />
      <div>
        <small *ngIf="fname.invalid && fname.touched"
          >*First Name is a Required Field</small
        >
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Last Name"
        name="lastname"
        [(ngModel)]="lastName"
        required
        #lname="ngModel"
      />
      <div>
        <small *ngIf="lname.invalid && lname.touched"
          >*Last Name is a Required Field</small
        >
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
        required
        #emailname="ngModel"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <div>
        <small *ngIf="emailname.invalid && emailname.touched">
          *Entered Email is not valid
        </small>
        <small *ngIf="emailname.hasError('pattern') && emailname.touched">
          *Please enter a valid email address !
        </small>
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Address"
        name="address"
        #aname="ngModel"
        [(ngModel)]="address"
        required
      />
      <div>
        <small *ngIf="aname.invalid && aname.touched"
          >*Address is a Required Field</small
        >
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <input
          type="number"
          placeholder="Phone Number"
          name="phonenumber"
          [(ngModel)]="phoneNumber"
          #pname="ngModel"
          required
          pattern="^(\+977)?9\d{9}$"
          min="0"
        />
        <div>
          <small *ngIf="pname.invalid && pname.touched">
            *Phone is a Required Field
          </small>
          <small *ngIf="pname.hasError('pattern') && pname.touched">
            *Please enter a valid Nepali phone number with or without the
            country code (+977)
          </small>
        </div>
      </div>
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let gen of genders">
          <input
            type="radio"
            [id]="gen.id"
            [value]="gen.value"
            name="gender"
            [(ngModel)]="gender"
            required
          />

          <label [for]="gen.id">{{ gen.display }}</label>
        </div>
      </div>
    </div>
    <input
      type="submit"
      value="Add Manager"
      class="submit-btn"
      [disabled]="!addForm.valid"
    />
  </form>
</section>

<section *ngFor="let manager of managers" class="user-detail-container">
  <div class="user-details-container">
    <div class="user-avatar">
      <p>
        {{ manager.firstName.slice(0, 1).toUpperCase()
        }}{{ manager.lastName.slice(0, 1).toUpperCase() }}
      </p>
    </div>
    <div class="user-details">
      <div class="user-name">
        <h2>{{ manager.firstName }} {{ manager.lastName }}</h2>
      </div>
      <p><b>Username:</b> {{ manager.firstName }} {{ manager.lastName }}</p>
      <p><b>Email:</b> {{ manager.email }}</p>
      <p><b>PhoneNo:</b>{{ manager.phoneNumber }}</p>
      <p><b>Gender:</b> {{ manager.gender }}</p>

      <div class="user-name">
        <h3>Address:{{ manager.address }}</h3>
      </div>
      <div class="user-edit">
        <button class="edit-button" (click)="editManager(manager)">Edit</button>
        <span class="footer">&copy; 2024. All rights reserved.</span>
        <button class="delete-button" (click)="deleteManagerById(manager.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</section>
