<section class="container" [ngClass]="{ 'form-shadow': addMeeting.touched }">
  <header>Meeting Details Form</header>

  <form class="form" (ngSubmit)="addMeetingDetails()" #addMeeting="ngForm">
    <div class="input-box">
      <label for="managerId">Manager ID:</label>

      <input
        type="text"
        id="managerId"
        name="managerId"
        [(ngModel)]="managerId"
        required
        #mname="ngModel"
      />
      <div>
        <small *ngIf="mname.invalid && mname.touched"
          >* Must Enter Manager Id is a Required Field!
        </small>
      </div>
    </div>
    <div class="input-box">
      <label for="visitorId">Visitor ID:</label>
      <input
        type="text"
        id="visitorId"
        name="visitorId"
        [(ngModel)]="visitorId"
        required
        #vname="ngModel"
      />
      <div>
        <small *ngIf="vname.invalid && vname.touched"
          >* Must Enter Visitor Id is a Required Field!
        </small>
      </div>
    </div>

    <div class="input-box">
      <label for="appointmentDate">Appointment Date:</label>
      <input
        type="date"
        id="appointmentDate"
        name="appointmentDate"
        [(ngModel)]="appointmentDate"
        required
        #aname="ngModel"
      />
      <div>
        <small *ngIf="aname.invalid && aname.touched">
          *Appointment Date is a Required Field!
        </small>
      </div>
    </div>
    <div class="input-box">
      <label for="remarks">Remarks:</label>
      <textarea
        class="textarea"
        id="remarks"
        name="remarks"
        rows="4"
        cols="50"
        [(ngModel)]="Remarks"
        required
        #rname="ngModel"
      ></textarea>
      <div>
        <small *ngIf="rname.invalid && rname.touched"
          >* Remarks is a Required Field!
        </small>
      </div>
    </div>
    <div class="gender-box">
      <h3>Book Appointment</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let book of bookings">
          <input
            type="radio"
            [id]="book.id"
            [value]="book.value"
            name="booking"
            [(ngModel)]="bookingAppointment"
          />

          <label [for]="book.id">{{ book.display }}</label>
        </div>
      </div>
    </div>
    <input type="submit" value="Add Meeting" class="submit-btn" />
  </form>
</section>

<section *ngIf="meetingDetails.length > 0">
  <div
    *ngFor="let meetingDetail of meetingDetails"
    class="user-detail-container"
  >
    <div class="user-details-container">
      <div class="user-avatar">
        <p>MD</p>
      </div>
      <div class="user-details">
        <div class="user-name">
          <h2>Meeting Details</h2>
        </div>
        <p><b>ManagerId:</b> {{ meetingDetail.manager.id }}</p>
        <p
          *ngIf="
            meetingDetail.visitor !== null &&
            meetingDetail.visitor !== undefined
          "
        >
          <b>VisitorId:</b> {{ meetingDetail.visitor.id }}
        </p>
        <p><b>Remarks:</b>{{ meetingDetail.remarks }}</p>

        <div class="user-name">
          <h3>AppointmentDate:{{ meetingDetail.appointmentDate }}</h3>
          <h3>Book Appointment:{{ meetingDetail.bookingAppointment }}</h3>
        </div>
        <div class="user-edit">
          <button
            class="edit-button"
            (click)="editMeetingDetails(meetingDetail.id)"
          >
            Edit
          </button>

          <span class="footer">&copy; 2024. All rights reserved.</span>
          <button
            class="delete-button"
            (click)="deleteMeetingDetails(meetingDetail.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
