<section class="container">
  <header>Meeting Details Form</header>

  <form class="form">
    <div class="input-box">
      <label for="managerId">Manager ID:</label>

      <input type="text" id="managerId" name="managerId" required />
    </div>
    <div class="input-box">
      <label for="visitorId">Visitor ID:</label>
      <input type="text" id="visitorId" name="visitorId" required />
    </div>

    <div class="input-box">
      <label for="appointmentDate">Appointment Date:</label>
      <input type="date" id="appointmentDate" name="appointmentDate" required />
    </div>
    <div class="input-box">
      <label for="remarks">Remarks:</label>
      <textarea class="textarea" id="remarks" name="remarks" rows="4" cols="50"></textarea>
    </div>

    <button type="submit" class="submit-btn">Submit</button>
  </form>
</section>
