<!-- <div class="header">
  <h1>Welcome to {{ title }}</h1>
</div> -->
<div>
  <nav>
    <ul>
      <li>
        <a routerLink="/manager-list" routerLinkActive="active">Manager </a>
      </li>
      <li>
        <a routerLink="/visitor-form" routerLinkActive="active">Visitor </a>
      </li>
      <li>
        <a routerLink="/meeting-details" routerLinkActive="active">Meeting </a>
      </li>
      <li>
        <a routerLink="/book-appointments" routerLinkActive="active"
          >Book Appointment
        </a>
      </li>
    </ul>
  </nav>
</div>
<!-- <app-manager-list></app-manager-list>
  <app-visitor-form></app-visitor-form>
  <app-meeting-details></app-meeting-details> -->

<router-outlet></router-outlet>
