.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  /* border: #333; */
  margin-top: 3rem;
  background: #fff;
  padding: 20px 50px;
  border-radius: 8px;
}

header {
  font-size: 1.5rem;
  color: #c9c2c2;
  font-weight: 500;
  text-align: center;
}
