<section *ngIf="meetingDetails.length > 0">
  <div *ngFor="let appointment of meetingDetails" class="user-detail-container">
    <div class="user-details-container">
      <div class="user-avatar">
        <p>MD</p>
      </div>
      <div class="user-details">
        <div class="user-name">
          <h2>Appointment Details</h2>
        </div>
        <p
          *ngIf="
            appointment.manager !== null && appointment.manager !== undefined
          "
        >
          <b>ManagerFirstName:</b> {{ appointment.manager.firstName }}
          {{ appointment.manager.lastName }}
        </p>
        <p
          *ngIf="
            appointment.visitor !== null && appointment.visitor !== undefined
          "
        >
          <b>VisitorFirstName:</b> {{ appointment.visitor.firstName }}
          {{ appointment.visitor.lastName }}
        </p>
        <p><b>Remarks:</b>{{ appointment.remarks }}</p>
        <div class="user-name">
          <h3>Book Appointment:{{ appointment.bookingAppointment }}</h3>
        </div>
        <div class="user-edit">
          <button class="edit-button" (click)="editAppointment(appointment)">
            Edit
          </button>
          <span class="footer">&copy; 2024. All rights reserved.</span>

          <button class="edit-button" (click)="viewMeetingDetails(appointment)">
            Details
          </button>
        </div>
      </div>
    </div>
    <section
      *ngIf="showManagerDetails || showVisitorDetails"
      class="details-section"
    >
      <div class="grid-container">
        <div class="manager-details" *ngIf="showManagerDetails">
          <h2>Manager Details</h2>
          <p><b>Manager ID:</b> {{ selectedAppointment.manager.managerId }}</p>
          <p>
            <b>Manager First Name:</b>
            {{ selectedAppointment.manager.firstName }}
          </p>
          <p>
            <b>Manager Last Name:</b> {{ selectedAppointment.manager.lastName }}
          </p>
          <p><b>Email:</b> {{ selectedAppointment.manager.email }}</p>
          <p><b>Phone:</b> {{ selectedAppointment.manager.phone }}</p>
          <p><b>Gender:</b> {{ selectedAppointment.manager.gender }}</p>
        </div>

        <div class="visitor-details" *ngIf="showVisitorDetails">
          <h2>Visitor Details</h2>
          <p><b>Visitor ID:</b> {{ selectedAppointment.visitor.visitorId }}</p>
          <p>
            <b>Visitor First Name:</b>
            {{ selectedAppointment.visitor.firstName }}
          </p>
          <p>
            <b>Visitor Last Name:</b> {{ selectedAppointment.visitor.lastName }}
          </p>
          <p><b>Email:</b> {{ selectedAppointment.visitor.email }}</p>
          <p><b>Phone:</b> {{ selectedAppointment.visitor.phone }}</p>
          <p><b>Gender:</b> {{ selectedAppointment.visitor.gender }}</p>
        </div>
      </div>

      <div class="cancel-details-container">
        <button class="cancel-details-button" (click)="cancelDetails()">
          Cancel
        </button>
      </div>
    </section>

    <!-- Display edit form only for the selected appointment -->
    <div *ngIf="appointment.isEditing" class="edit-form">
      <h2>Edit Appointment</h2>
      <label for="editManagerFirstname">Edit ManagerFirstName:</label>
      <input
        type="text"
        id="editManagerFirstname"
        [ngModel]="appointment.manager.firstName"
        required
        #managerFirstname="ngModel"
        [min]="minDate"
      />
      <div *ngIf="managerFirstname.invalid && managerFirstname.dirty">
        <small *ngIf="managerFirstname.errors['required']">
          * Manager First Name is required!
        </small>
      </div>

      <label for="editVisitorFirstname">Edit VisitorFirstname:</label>
      <input
        type="text"
        id="editVisitorFirstname"
        [(ngModel)]="appointment.visitor.firstName"
        required
        #visitorFirstname="ngModel"
      />
      <div>
        <small *ngIf="visitorFirstname.invalid && visitorFirstname.dirty"
          >visitorFirstName is required.</small
        >
      </div>
      <label for="editRemarks">Edit Remarks:</label>
      <input
        type="text"
        id="editRemarks"
        [(ngModel)]="appointment.remarks"
        #remarks="ngModel"
        required
      />
      <div>
        <small *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)"
          >Remarks is required.</small
        >
      </div>
      <label for="editAppointmentDate">Edit Appointment Date:</label>
      <input
        type="date"
        id="editAppointmentDate"
        [(ngModel)]="appointment.appointmentDate"
        #appointmentDate="ngModel"
      />
      <div>
        <small
          *ngIf="
            appointmentDate.invalid &&
            (appointmentDate.dirty || appointmentDate.touched)
          "
          >AppointmentDate is required.</small
        >
      </div>
      <label for="editBookingAppointment">Edit Booking Appointment:</label>
      <input
        type="text"
        id="editBookingAppointment"
        [(ngModel)]="appointment.bookingAppointment"
      />

      <div class="user-edit">
        <button class="update-button" (click)="updateAppointment(appointment)">
          Update
        </button>

        <button class="cancel-button" (click)="cancelEditing(appointment)">
          Cancel
        </button>
      </div>
    </div>
  </div>
</section>
