<section class="container">
  <header>Edit Manager</header>

  <form class="form" (ngSubmit)="updateManager()" #updateForm="ngForm">
    <div class="input-box">
      <input
        type="text"
        placeholder="First Name"
        name="firstName"
        [(ngModel)]="manager.firstName"
        #fname="ngModel"
        required
      />
      <div>
        <small *ngIf="fname.invalid && fname.touched"
          >*First Name is a Required Field</small
        >
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Last Name"
        name="lastName"
        [(ngModel)]="manager.lastName"
        required
        #lname="ngModel"
      />
      <div>
        <small *ngIf="lname.invalid && lname.touched"
          >*Last Name is a Required Field</small
        >
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Email"
        name="email"
        [(ngModel)]="manager.email"
        required
        #emailname="ngModel"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <div>
        <small *ngIf="emailname.invalid && emailname.touched">
          *Entered Email is not valid
        </small>
        <small *ngIf="emailname.hasError('pattern') && emailname.touched">
          *Please enter a valid email address !
        </small>
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Address"
        name="address"
        [(ngModel)]="manager.address"
        required
        #aname="ngModel"
      />
      <div>
        <small *ngIf="aname.invalid && aname.touched"
          >*Address is a Required Field</small
        >
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <input
          type="number"
          placeholder="Phone Number"
          name="phoneNumber"
          [(ngModel)]="manager.phoneNumber"
          #pname="ngModel"
          required
          pattern="^(\+977)?9\d{9}$"
          min="0"
        />
        <div>
          <small *ngIf="pname.invalid && pname.touched">
            *Phone is a Required Field
          </small>
          <small *ngIf="pname.hasError('pattern') && pname.touched">
            *Please enter a valid Nepali phone number with or without the
            country code (+977)
          </small>
        </div>
      </div>
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let gen of genders">
          <input
            type="radio"
            [id]="gen.id"
            [value]="gen.value"
            name="gender"
            [(ngModel)]="manager.gender"
            required
          />
          <label [for]="gen.id">{{ gen.display }}</label>
        </div>
      </div>
    </div>

    <input
      type="submit"
      value="Update Manager"
      class="update-btn"
      [disabled]="!updateForm.valid"
    />
    <button type="button" class="cancel-btn" (click)="cancelEdit()">
      Cancel
    </button>
  </form>
</section>
